html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: sans-serif;
  text-align: center;
}

html {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
}

img {
  max-width: 300px;
  max-height: 300px;
}

a ~ p
{
  background-color: salmon;
  padding: 0;
  border: solid black 5px;
  color: white;
}

#content:nth-child(3)child {
  background-color: yellow;
}



li {
  display: inline-block;
}

.index_header {
  background-color: #990000;
  display: block;
  margin: 0;
}

h1 {
  text-align: left;
}

.title  {
  font-size: 60px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 200px;
}

.title a {
  font-size: 75px;
  font-family: 'Julius Sans One';
  color: gold;
  text-decoration: none;

}
